
:root{
	-primario: ;
	-secundario: ;
	-terciario: ;
	-cuaternario: ;
}

body{
	background-color: white;
	color: black;
	text-align: center;
	font-family: 'Roboto', sans-serif; 
}

h1{
	font-size: 60px;
	color: white;
}


a{
	display: flex;
	padding: 5px 10px;
	background-color:none;
	color: white;
	text-decoration: none;
	border-radius: 30px;

}

h3{
	font-size: 35px
}

iframe{
	justify-content:center;
	margin: 50px
}


img{
	max-width: 100%
	width: 400px
	margin-left: auto;
	margin-right: auto;
}

main{
	width: 1100px
	margin-right: auto;
	margin-left: auto;
}

header{
	background-color: #2980B9 ;
	}

form{
	background-color: #6562F2  ;
	padding: 15px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	border-radius: 15px;
	padding: 50px;
}

input{
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 30px;
	margin-right: 10px;
	margin-bottom: 20px;
}

textarea{
	padding-bottom: 130px;
	border-radius: 15px;
}



.form{
	display: flex;

}

.lista li{
	list-style: none;
}

.red{
	margin-bottom: 20px;
}





/* ========================== *\
		  B A N N E R
\* ========================== */

.cv-banner{
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	background-image: url("../imagenes/inicio.jpg");
	background-size: cover;
	background-position: center bottom;
	text-align: center;
}

.cv-banner1{
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	background-image: url("../imagenes/servicios.jpg");
	background-size: cover;
	background-position: center bottom;
	text-align: center;
}

.cv-banner2{
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	background-image: url("../imagenes/proyectos.jpg");
	background-size: cover;
	background-position: center bottom;
	text-align: center;
}

.cv-banner3{
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	background-image: url("../imagenes/sobremi.jpg");
	background-size: cover;
	background-position: center bottom;
	text-align: center;
}

.cv-banner4{
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	background-image: url("../imagenes/contacto.jpg");
	background-size: cover;
	background-position: center bottom;
	text-align: center;
}
.cv-banner5{
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	background-image: url("../imagenes/contacto.jpg");
	background-size: cover;
	background-position: center bottom;
	text-align: center;
}
.cv-banner__title{
	font-size: 100px
	color: white;
}

/* ========================== *\
		  H E A D E R
\* ========================== */

.cv-titleh1{
	background-color: orange;
	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	border-radius: 40px;
}

.cv-titleh2{
	color: black;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
}



/* ========================== *\
		    M E N U
\* ========================== */

.cv-menu{
	list-style: none;
	display: flex;
	padding: 20px;
	margin:15px;
	justify-content: center;
}

.cv-menu__link{
	color: black;
	text-decoration: none;
	display: block;
	padding: 5px 15px;
	background-color: #6562F2; 
	border-radius: 30px;
}

/* ========================== *\
		   S E C T I O N S
\* ========================== */

.cv-section{
	padding: 10px 0;
	background-color: white;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.cv-section__dis{
	display: flex;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;

}

.cv-section__title{
	font-weight: 500;
	font-size: 30px;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	letter-spacing: 5px;
	text-align: left;
}

.cv-section__containerin{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: left;
}

.cv-section__container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: left;
}

.cv-luli{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}



/* ========================== *\
		    I M A G E N E S
\* ========================== */


.circulo{
	width: 210px;
	height: 200px;
	padding: 20px;
	margin: 15px;
	border-radius: 100%;
}
.cv-imagensobre{
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 365px;
	height: 300px;

}

.cv-imagen1{
	padding: 20px;
	margin-left: 100px;
	margin-right: 20px;
	width: 400px;
	height: 300px;
}

.cv-imagen2{
	padding: 20px;
	margin-left: -350px;
	margin-right: 20px;
	width: 400px;
	height: 300px;
}

.cv-imagen3{
	padding: 20px;
	margin-left: 130px;
	margin-right: 20px;
	width: 400px;
	height: 300px;
	}

/* ========================== *\
	   C O N T E I N E R
\* ========================== */

.cv-titleconteiner{
	text-align: center;
	font-size: 30px;

	color: black;
	margin-top: 100px;
	font-weight: 100;
}

.cv-conteiner{

	width: 100%;
	max-width: 1200px;
	height: 430px; 
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	color: white;
}

.cv-conteiner .card{
	width: 330px;
	height: 350px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
	background-color:  #6562F2 ;
}


.cv-conteiner .card:hover{
	transform: translateY(-15px); 
	box-shadow: 0 12px 16px rgba( 0, 0, 0, 0.2);
}

.cv-conteiner .card img{
	width: 330px; 
	height: 220px;
}

.cv-conteiner .card h4{
	font-weight: 600;
}

.cv-conteiner .card p{
	padding: 0 1rem;
	font-size: 16px;
	font-weight: 300;
}


.cv-descargas{
	display: flex;
	justify-content: center;
	color: white;
	margin-top: 20px;
}

.cv-descargas__d{
	background-color: black;
	border-radius: 30px;
	padding: 7px;
	margin-right: 10px;
}



/* ========================== *\
		   M A I N
\* ========================== */

.cv-div{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3% 3%;
	margin: 50px;
}

.cv-formacion{
	text-align: left;
	list-style: none;
	margin-left: 50px;
	margin-top: 90px;
}

.cv-formacion__v{
	margin-top: 10px
}

.cv-proyectos{

	color: black;
	font-size: 25px;
	margin-top: 30px;
	text-align: left;
	letter-spacing: 5px;
}


.cv-proyectoscan{
	display: flex;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

.cv-parrafocan{
	margin-top: 20px;
	text-align: left;
	align-items: center;
}

.cv-serviciosbom{
	margin-top: 10px;
	margin-bottom: 10px;
}

.cv-tituloso{
	font-size: 15px;
	background-color: black;
	border-radius: 10px;
	margin-right: 80px;
	margin-left: 80px;
	color: white;
	padding: 5px;
}
.cv-sobre{
	display: flex;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.cv-miopa{
	text-align: left;
	margin-top: 60px;
	margin-right: 80px;
	margin-left: 20px;
	padding: 5px;
	margin-bottom: 10px;
}

.cv-lu{
	margin-bottom: 10px;
}

.cv-experiencia{
	margin-top: 20px;
	margin-bottom: 20px;
}

.cv-experienciap{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 50px;
}

.cv-experienciali{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 80px;
}








/* ========================== *\
		  F O O T E R
\* ========================== */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cv-conteinerf{
	max-width: 1170px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.cv-footer{
	background-color: #2980B9;
	padding: 70px 0;
	text-align: left;
	color: white;
}

.cv-footer__col{
	width: 30%;
	padding: 0 15px;
}

.cv-footerlink__col{
	width: 30%;
	padding: 0 -10px;
	display: flex;
	text-align: left;
}

.cv-footer__col h4{
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.cv-footer__col h4::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.cv-footer__col ul li:not(:last-child){
	margin-bottom: 15px;
}

